<a href="https://colab.research.google.com/github/Manojusilla/Data_Mining/blob/main/Data_mining(06).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
data={'A', 'B', 'C', 'A', 'D', 'E', 'F', 'G', 'H', 'A'}
df = pd.DataFrame(data, columns=['Category'])
label_encoder=LabelEncoder()
df['label_Encoded']=label_encoder.fit_transform(df['Category'])
one_hot_encoded=  pd.get_dummies(df['Category'])
df=pd.concat([df,one_hot_encoded],axis=1)
print(df)

  Category  label_Encoded      A      B      C      D      E      F      G  \
0        H              7  False  False  False  False  False  False  False
1        F              5  False  False  False  False  False   True  False
2        C              2  False  False   True  False  False  False  False
3        G              6  False  False  False  False  False  False   True
4        E              4  False  False  False  False   True  False  False
5        A              0   True  False  False  False  False  False  False
6        B              1  False   True  False  False  False  False  False
7        D              3  False  False  False   True  False  False  False

       H
0   True
1  False
2  False
3  False
4  False
5  False
6  False
7  False

In [7]:
from datetime import datetime
data2={'Name':['Kiran', 'Devi', 'Wishram', 'Shiva'], 'DOB':['2005-07-07', '2004-07-07', '2005-09-28', '2005-07-03']}
df2=pd.DataFrame(data2)
df2['Date_of_Birth'] = pd.to_datetime(df2['DOB'])
current_year = datetime.now().year
df2['Age'] = current_year - df2['Date_of_Birth'].dt.year
print(df2)

      Name         DOB Date_of_Birth  Age
0    Kiran  2005-07-07    2005-07-07   20
1     Devi  2004-07-07    2004-07-07   21
2  Wishram  2005-09-28    2005-09-28   20
3    Shiva  2005-07-03    2005-07-03   20

In [8]:
data3={'Names':['Sagar', 'Wishram', 'Jeevan', 'Devi'],
       'Marks':[98,69,41,42]}
df3=pd.DataFrame(data3)
grouped = df3.groupby('Names').agg({'Marks': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
pivot = df3.pivot_table(index='Names', values='Marks', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
         Marks
          sum  mean
Names
Devi       42  42.0
Jeevan     41  41.0
Sagar      98  98.0
Wishram    69  69.0

Pivot Table:
           sum  mean
        Marks Marks
Names
Devi       42  42.0
Jeevan     41  41.0
Sagar      98  98.0
Wishram    69  69.0